<header></header>
<div class="container">
  <aside>
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="material-icons-sharp">dashboard</span>
      <h3>Dashboard</h3>
    </a>

    <a routerLink="/cadastros" routerLinkActive="active">
      <span class="material-icons-sharp">person_outline</span>
      <h3>Cadastros</h3>
    </a>

    <a routerLink="/ordens" routerLinkActive="active">
      <span class="material-icons-sharp">receipt_long</span>
      <h3>Orders</h3>
    </a>

    <a routerLink="/nota-fiscal" routerLinkActive="active">
      <span class="material-icons-sharp">description</span>
      <h3>NFS-e</h3>
    </a>

    <a routerLink="/chat" routerLinkActive="active">
      <span class="material-icons-sharp">chat_bubble_outline</span>
      <h3>Chat</h3>
    </a>

    <a routerLink="/produtos" routerLinkActive="active">
      <span class="material-icons-sharp">inventory</span>
      <h3>Produtos</h3>
    </a>

    <a routerLink="/analytics" routerLinkActive="active">
      <span class="material-icons-sharp">insights</span>
      <h3>Analytics</h3>
    </a>

    <a routerLink="/financeiro" routerLinkActive="active">
      <span class="material-icons-sharp">account_balance_wallet</span>
      <h3>Financeiro</h3>
    </a>

    <a routerLink="/relatorios" routerLinkActive="active">
      <span class="material-icons-sharp">newspaper</span>
      <h3>Relatórios</h3>
    </a>
  </aside>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
