:root {
  // --color-primary: #ec8973;
  --color-primary: #f75d3b;
  --color-secondary: #f86c26;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-important: #73afec;
  --color-excel: #17f5ab;
  --color-white: #fff;
  --color-info-dark: #a1827d;
  --color-info-light: #dce1eb;
  --color-dark: #493a36;
  --color-light: rgba(200, 141, 132, 0.18);
  --color-primary-variant: #882511;
  --color-dark-variant: #836c67;
  --color-background: #f6f6f9;
  --color-logo: #e28772f2;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

:root .dark-theme {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-logo: #882511;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

//Border Radius
$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

//Padding
$card-padding: 1.8rem;
$padding-1: 1.2rem;
