@import "./variables";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  // appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: auto;
  min-height: 540px;
  min-width: 350px;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.text-muted {
  color: var(--color-info-dark);
}

.no-scroll {
  overflow-y: hidden;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.important {
  color: var(--color-important);
}

.form-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &:active {
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.7);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &:disabled {
    color: rgb(0, 0, 0) !important;
    background: #868686 !important;
    box-shadow: none;
  }
}
