<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>E-mail</th>
      <th>Contato</th>
      <th>Veículo(s)</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let person of persons | async">
      <td>{{ person.personRole }}</td>
      <td>{{ person.name }}</td>
      <td>
        {{ person.registerNumber | mask : "CPF_CNPJ" }}
      </td>
      <td>{{ person.email != null ? person.email : "-" }}</td>
      <td>{{ person.phone | mask : maskPhone(person.phone) }}</td>
      <td>{{ person.vehicles?.length }}</td>
      <td>{{ person.address?.city != null ? person.address?.city : "-" }}</td>
      <td>{{ person.address?.state != null ? person.address?.state : "-" }}</td>
      <td>
        <span class="material-icons-sharp">visibility</span>
        <span class="material-icons-sharp">edit</span>
        <span class="material-icons-sharp">delete</span>
      </td>
    </tr>
  </tbody>
</table>
